#blog-header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    color: black;
    
}

#blog-header h3 {
    font-size: 1.5rem;
}

#blog-header hr {
width: 90%;
}

#blog-header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

#blog-header-nav button {
    background-color: white;
}

#blog-header-nav button:hover {
border: 0px solid white;
}

#post-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-bottom: 5rem;
    margin-top: 15rem;
}

#post-section img {
    height: 20rem;
    width: 100%;
    object-fit: cover;
    margin-bottom: 5rem;
    border-radius: 7px;
}

#title-and-category {
    margin: 0 7rem;
}

#quote-in-post {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    width: 100%;
    flex-direction: column;
    color: black;
}

#quote-in-post h1 {
    font-size: 5rem;
}

#quote-in-post h2 {
    font-size: 1.5rem;
    text-align: left;
    margin-top: 0;
    margin-left: 2rem;
    font-weight: 200;
    width: 60%;
}

#post-category {
    border-radius: 15px;
    padding: 0;
    width: fit-content;
    padding: 0 0.5rem 0 0.5rem;
    font-weight: 800;
  
}

#post-section h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: black;
    text-align: left;
}

#post-heading {
    display: flex;
    justify-content: space-between;
    margin: 0 7rem;
    height: fit-content;
}

#post-heading-right {
    display: flex;
    flex-direction: column;
}

#post-heading-left {
    width: fit-content;
    height: fit-content;
}

.quote-h1 {
    position: relative;
    bottom: 2rem;
}

#author-date {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2rem;
    width: 100%;
}
.author {
    margin-right: 1rem;
    margin-bottom: 0;
}
.date {
    margin-right: 1rem;
    margin-top: 0;
}

#post-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5rem;
}

#post-body p {
    position: relative;
    text-align: left;
    margin: 0 40% 0 7rem;
}

.first-letter {
    font-size: 5rem;
    font-weight: 800;
    color: black;
}

#blog-header h3 {
    text-align: center;
    position: relative;
}

#contact-btn {
    background-color: #8969E5;
    width: fit-content;
    border-radius: 50px;
    color: white;
}

#post-text {
    line-height: 2rem;
    font-size: 1.1rem;
}

#post-text::first-letter {
    initial-letter: 3;
    color: black;
}

#comments-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    top: 9rem;
    width: 100%;
    margin-left: 7rem;
}

#comments-section h2 {
    margin-bottom: 0;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
}

#home-footer h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#comments-section div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#comments-section div p {
    margin: 0;
    text-align: left;
}

#leave-comment-section {
   position: relative;
   top: 3rem;
   width: 100%;
   display: flex;
   justify-content: center;
}

#leave-comment-section div {
    display: flex;
    flex-direction: column;
    width: 70%;
}

#leave-comment-section div input {
    width: 100%;
    margin-top: 1rem;
    border: 1px solid lightgray;
    padding: 1rem;
    border-radius: 20px;
}

#leave-comment {
    position: relative;
    top: 2rem;
    background-color: #8969E5;
    border-radius: 50px;
    color: white;
}

#similar-posts {
    position: relative;
    top: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#similar-posts .sh3 {
    font-size: 2rem;
    font-weight: 700;
}

#similar-blog-posts {
    position: relative;
    display: flex;
    justify-content: center;
}

.blog-post-div img {
    height: 20rem;
    border-radius: 15px;
    width: 20rem;
    object-fit: cover;
}

.blog-post-div .category-preview {
    position: relative;
    bottom: 20rem;
    background-color: white;
    width: fit-content;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
}

.blog-post-div .post-info {
    position: relative;
    bottom: 3rem;
}

.blog-post-div .post-info h3 {
 margin: 0;  
}

.blog-post-div .post-info p {
    margin-top: 0;  
}

.blog-post-div .date-views {
    display: flex;
    justify-content: center;
}

.blog-post-div button {
    width: 100%;
}

.blog-post-div .date-views p:first-child {
    margin-right: 1rem;
}

#footer {
    position: relative;
    margin-top: 25rem;
}

@media screen and (max-width: 1574px) {
    #about-middle img {
        height: 20rem;
    }
    #about-middle h3 {
        width: 60%;
        top: 6rem;
        padding-right: 3rem;
    }

    #about-middle h3 .q2 {
        right: unset;
    }
}

@media screen and (max-width: 1325px) {
    #about-middle img {
        height: 15rem;
    }

    #about-middle h3 {
       font-size: 1.7rem;
    }

    #about-middle h3 a {
        display: none;
    }
    #post-section img {
        width: 20rem;
    }
    #quote-in-post h2 {
        width: 80%;
    }
    
}

@media screen and (max-width: 1160px) {
    #post-body p {
        margin: 0 7rem 0 7rem;
    }
}

@media screen and (max-width: 873px) {
    #about-middle img {
        display: none;
    }

    #about-middle h3 {
        width: 90%;
     }
     #quote-in-post h2 {
        width: 120%;
    }
}

@media screen and (max-width: 983px) {
    #quote-in-post {
        width: 80%;
    }
    
}

@media screen and (max-width: 705px) {
    #post-body p {
    margin: 0 3rem 0 3rem;
    }
    #comments-section {
        margin-left: 3rem;
    }
    #post-section img {
        height: 30rem;
    }
}

@media screen and (max-width: 500px) {
    #post-section img {
        height: 30rem;
    }
}