#header {
    position: relative;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

#logo-title {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #151515;
    padding-right: 1.5rem;
    font-size: 1.4rem;
}

#contact-btn {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    position: relative;
    bottom: 0.5rem;
}

#header nav a {
margin: 0 2rem 0 2rem;
color: #151515;
pointer-events: all;
cursor: pointer;
}

#header nav a:hover {
    color: gray;
}

#author {
    margin-right: 3rem;
}

#author button {
    background-color: #151515;
    color: white;
    border-radius: 50px;
    position: relative;
    bottom: 0.5rem;
}

#author img {
    background-color: red;
    height: 3rem;
    width: 3rem;
    border-radius: 100px;
    position: relative;
    right: 2rem;
    top: 0.5rem;
}

@media screen and (max-width: 888px) {
    #author img {
        display: none;
    }
    #contact-btn {
        bottom: unset;
    }
}

@media screen and (max-width: 800px) {
    #header {
        border-bottom: none
    }
}