#home-section {
opacity: 0;
position: relative;
top: -1rem;
-webkit-transition: all 0.4s ease;
-moz-transition: all 0.4s ease;
-o-transition: all 0.4s ease;
transition: all 0.4s ease;
}

#about-blog {
    color: white;
    background-image: url('../../assets/colored.jpg');
    background-position: 15% 20%;
    background-size: cover;
    object-fit: cover;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: -2.5rem;
    width: 95vw;
    height: 20rem;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

#about-blog h2 {
    font-size: 2rem;
    margin-bottom: 0;
    
}

.about-the-blog {
    font-size: 1.1rem;
    width: 60%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.post-info {
    position: relative;
    bottom: 4.5rem;
}

.post-quote {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 15rem;
    margin: 0;
}

.category-preview {
    position: relative;
    bottom: 5rem;
    background-color: white;
    width: fit-content;
    padding: 0.5rem;
    border-radius: 25px;
}

#hi {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#author-img-name {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    color: #151515;
    font-weight: 700;
    width: fit-content;
    border-radius: 50px;
    padding: 0 1rem 0 1rem;
    margin-top: 3rem;
}

#author-img-name:hover .talk-bubble {
    display: inline-block;
    opacity: 1;
}

#author-img-name img {
    height: 3rem;
    width: 3rem;
    margin-right: 1rem;
    background-color: blue;
    border-radius: 50px;
    position: relative;
    right: 0.5rem;
}

#filter {
    position: relative;
    top: -2rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding-bottom: 1.5rem;
}

#filter h2 {
    margin-bottom: 0;
    font-size: 2.5rem;
    color: black;
    
}

#filter p {
    margin-top: 0;
    text-align: left;
}

#filter-btns-container {
margin: 0;
display: flex;
justify-content: flex-start;
position: relative;
top: 1.5rem;
left: 0rem;
flex-wrap: wrap;
}

#filter-btns-container button {
    color: black;
    background-color: #F5F0FF;
    width: fit-content;
    height: fit-content;
    border-radius: 50px;
    
}

#filter-btns-container button {
    margin-right: 2rem;
    margin-bottom: 1rem;
}

#search-and-filters {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

#search-and-filters input {
border-radius: 15px;
outline: none;
border: 1px solid lightgray;
height: 2rem;
width: 20rem;
padding: 0 0 0 1rem;
}

#posts {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 0rem;
    width: 95vw;
    justify-content: space-between;
}

.date-views {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.post-div {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.post-div img {
    height: 20rem;
    width: 20rem;
    border-radius: 15px;
}

.post-title {
    margin: 0;
    margin-bottom: 0.5rem;
}

.post-div button {
    background-color: #8969E5;
    width: 100%;
    border-radius: 50px;
    color: white;
}

#new-contnet {
    background-color: #F5F1FF;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 4rem;
    height: 10rem;
    color: black;
}

#sub {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 5rem;
}

#sub h2 {
    margin: 0;
    text-align: left;
}

#sub p {
    margin: 0;
    text-align: left;
}

#sub-action {
    margin-right: 5rem;
    display: flex;
}

#sub-action input {
    border-radius: 50px;
    border: 1px solid lightgray;
    height: 2.5rem;
    padding-left: 1rem;
    margin-left: 2rem;
}

#sub-action button {
    margin-left: 1rem;
    background-color: #8969E5;
    color: white;
    border-radius: 50px;
}

#home-footer {
    position: relative;
    padding-bottom: 5rem;
    top: 15rem;
}

#home-footer h2 {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

#home-footer p {
    margin-top: 0;
    color: black;
}

.talk-bubble {
	margin: 40px;
  display: none;
  position: absolute;
	width: 80px;
    opacity: 0;
	height: auto;
	background-color: white;
    right: 12.5rem;
    top: -1rem;
    border: 2px solid white;
    -webkit-transition: all 0.1s ease;
-moz-transition: all 0.1s ease;
-o-transition: all 0.1s ease;
transition: all 0.1s ease;
}
.round{
  border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;

}

.tri-right.border.right-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -40px;
  top: -8px;
	bottom: auto;
	border: 32px solid;
	border-color: #666 transparent transparent transparent;
}
.tri-right.right-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -15px;
  top: -2px;
	bottom: auto;
	border: 20px solid;
	border-color: white transparent transparent transparent;
}

@media screen and (max-width: 800px) {
    #about-blog {
        width: unset;
        border-radius: 0;
    }
#filter {
    margin: 0 2rem 0 2rem;
}
#posts {
    margin: 0 2rem 0 2rem;
}
}

@media screen and (max-width: 800px) {
    #about-blog {
        width: unset;
        border-radius: 0;
    }
#filter {
    margin: 0 2rem 0 2rem;
}
#posts {
    margin: 0 2rem 0 2rem;
}
}

@media screen and (max-width: 639px) {
    #posts {
        width: unset;
    }
}