#home-section {
    position: relative;
    margin-top: 7rem;
    opacity: 0;
    top: -4rem;
    width: 100%;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

#author-img-name {
    display: flex;
    align-items: center;
}


#author-img-name .authName {
    margin-left: 1rem;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400
}

#talk-bubble {
    display: block;
}

#hello-banner {
    background-image: url('../../assets/colored.jpg');
    background-position: 15% 20%;
    object-fit: cover;
    background-size: cover;
    height: 20rem;
    margin: 0;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 0;
    margin-bottom: 5rem;
}

.talk-bubble {
    margin-left: 6rem;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.talk-bubble p {
    font-size: 6rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

#about-blog {
    text-align: start;
    margin-left: 6rem;
    margin-right: 6rem;
    margin-bottom: 20rem;
    margin-top: 10rem;
    
}

#about-blog h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.7rem;
    font-weight: 200;
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -ms-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
}

#nuance {
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -ms-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
}

#about-blog p {
    font-size: 2rem;
}

#about-blog p a {
    font-weight: 400;
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -ms-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
}

#filter {
    margin: 0 6rem;
}

#filter h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: start;
    font-weight: 200;
    font-size: 3rem;
    margin-bottom: 0;
}

#filter p {
    text-align: start;
    color: gray;
    margin-top: 0;
}

#filter-btns-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    right: -10rem;
    top: 25%;
    width: 15%;
    height: fit-content;
    z-index: 1000;
    border-radius: 7px;
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -ms-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
}

#filter-btns-container button:hover {
    background-color: yellow;
    border: none;
    padding: 1.5rem;
}

#filter-btns-container button:focus {
    border: none;
    outline: none;
    background-color: yellow;
}

#filter-btns-container button {
    border-radius: 0;
    padding: 1rem;
    background-color: whitesmoke;
    border: none;
    color: black;
    border-radius: 15px 0 0 15px;
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -ms-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
    font-weight: 700;
}

#search-and-filters {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-right: 2rem;
    margin-bottom: 3rem;
}

#search-and-filters input {
    border: none;
    border-radius: 0;
    border-bottom: 2px solid gray;
    width: 80%;
    padding: 1rem 1rem 1rem 0;
}

#search-and-filters input:focus {
    outline: none;
    border-bottom: 2px solid black;
}

#posts {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    align-items: start;
    justify-content: start;
    margin: 0 6rem;
}

#posts a {
    color: black;
}

.post-div {
    display: flex;
    opacity: 0;
    position: relative;
    justify-content: start;
    flex-direction: column;
    margin-right: 3rem;
    margin-bottom: 6rem;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

.post-div:hover {
  opacity: 1;
}

.post-div .post-info hr {
    background-color: lightgray;
    height: 0.5px;
    border: none;
}

.post-div .post-info {
    text-align: start;
    position: relative;
    width: 80%;
}

.post-div .post-div-img-cat {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.post-div .post-div-img-cat .category-preview {
    position: relative;
    z-index: 10;
    color: black;
    width: fit-content;
    font-weight: 400;
    font-size: 1rem;
    margin: 1rem 0 0rem 0rem;
}

.post-div .post-info h3 {
    
    margin-bottom: 0;
    margin-top: 0;

}

.post-div img {
    height: 20rem;
    width: 80%;
    object-fit: cover;
    position: relative;
    z-index: 9;
    border-radius: 7px;
}


.post-div .post-info p{
    margin-top: 0;
}

.post-div .date-views {
    display: flex;
}


.post-div .date-views p:first-child {
    margin-right: 1rem;
}


.post-div button {
    border-radius: 15px;
}


.post-div button:hover {
    border: 1px solid black;
}

.post-div .post-info .post-title {
    width: fit-content;
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
}


#new-content-parent {
    background-color: whitesmoke;
    background-size: cover;
    width: 120%;
    height: fit-content;
    margin-top: 15rem;
    margin-bottom: 5rem;
}

#new-contnet {
    display: flex;
    justify-content: start;
    flex-direction: column;
    text-align: start;
    position: relative;
    left: 10%;
    background-image: url('../../assets/colored.jpg');
    width: fit-content;
    padding: 5rem 3rem;
}

#new-contnet h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-weight: 400;
    font-size: 2.5rem;
    margin: 0;
}

#new-contnet p {
    margin-top: 0;
    font-size: 1.1rem;
}


#new-contnet input {
    width: 95%;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding: 1.5rem 1.5rem 1rem 0;
    font-size: 1.2rem;
    border-bottom: 2px solid black;
    color: black;
    margin-bottom: 2rem;
}

#new-contnet input:focus {
    outline: none;
}

#new-contnet button {
    width: 100%;
    background-color: black;
    color: white;
    font-size: 1.3rem;
    font-weight: 700;
}

#home-footer {
    margin-bottom: 7rem;
}

@media screen and (max-width: 1200px) {
    .talk-bubble {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    #about-blog {
        margin-left: 2rem;
        margin-right: 2rem;
    }
    #filter {
        margin: 0 2rem;
        width: 75%;
    }
    #posts {
        margin: 0 2rem;
    }

    .post-div {
        width: 80%;
        margin-bottom: 0rem;
    }
}

@media screen and (max-width: 678px) {
    #header {
        position: relative;
    }
    #home-section {
        margin-top: 0;
    }
}

@media screen and (max-width: 610px) {
    #new-content-parent {
        width: unset;
    }
    #new-contnet {
        left: unset;
    }
    #filter-btns-container {
        flex-direction: row;
        bottom: 0;
        left: 0;
        top: unset;
        width: 100%;
        overflow-x: scroll;
        right: unset;
    }

    #filter-btns-container button {
        margin: 0;
        color: black;
        background-color: whitesmoke;
        width: fit-content;
    }
    #filter {
        width: 90%;
    }

    #filter h2 {
        font-size: 4rem;
        width: 100%;
        line-height: 3.5rem;
        margin-bottom: 1rem;
    }

    #filter p {
        width: 90%;
        font-size: 1.5rem;
    }

    #posts {
        width: 90%;
    }

    .post-div {
        width: 100%;
        justify-content: start;
        align-items: start;
    }

    .post-div .post-info .post-title {
        font-size: 1.7rem;
    }
    .post-div .post-info {
        top: 1rem;
    }
}
